<% content_for :page_theme, "theme-dark" %>
<div class="show-container">
  <div class="show-item">
    <div class="show-title-wrapper">
      <div class="show-title">
        <h1>WORK<%= @work.number %></h1>
      </div>
      <div class="show-description">
        <p class="med"><%= @work.description %></p>
      </div>
    </div>
    <div class="show-content">
      <div class="show-media">
        <div class="corner-symbol top-left"><p>+</p></div>
        <div class="corner-symbol top-right"><p>+</p></div>
        <div class="corner-symbol bottom-left"><p>+</p></div>
        <div class="corner-symbol bottom-right"><p>+</p></div>
        <% if @work.images.attached? %>
          <%= image_tag rails_blob_url(@work.images.first), id: "main-image" %>
        <% end %>
      </div>
      <div class="show-sidebar">
        <div class="show--client-buttons-wrapper">
          <div class="show-client">
            <p class="med-bold"><%= @work.client %></p>
            <p class="med"><%= @work.title %></p><br class="sml-screen">
            <p class="sml"><%= to_binary_string(@work.title) %></p>
          </div>
          <!-- Image principale (seulement visible en mobile) -->
          <div class="main-image-responsive">
            <%= image_tag url_for(@work.images.first), id: "main-image-responsive", class: "main-image-responsive-img" if @work.images.attached? %>
          </div>
          <div class="show-description--responsive">
            <p class="med"><%= @work.description %></p>
          </div>
          <div class="show-buttons">
            <div class="show-nav">
              <% if @previous_work %>
                <%= link_to '←'.html_safe, work_path(@previous_work.slug), class: "btn btn--secondary btn--previous" %>
              <% end %>
              <div class="btn btn--secondary btn-clickable" id="show-buttons--back">
                <%= link_to "BACK TO ALL WORKS", works_path,
                      class: "btn-text",
                      data: { text: "BACK TO ALL WORKS" } %>
              </div>
              <% if @next_work %>
                <%= link_to '→'.html_safe, work_path(@next_work.slug), class: "btn btn--secondary btn--next" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="show-thumbnails" data-controller="image">
          <% @work.images.each_with_index do |image, index| %>
            <div
              class="image-miniature-wrapper<%= ' active' if index == 0 %>"
              data-image-target="thumbnail"
              data-action="click->image#switch"
              data-url="<%= url_for(image.variant(resize_to_limit: [1200, 800])) %>"
            >
              <%= image_tag image.variant(resize_to_limit: [400, 300]), class: "image-miniature" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
