<div class="show-container">
  <div class="show-item">
    <div class="show-title">
      <h1>WORK</h1>
    </div>

    <div class="show-number">
      <h1><%= @work.number %></h1>
    </div>

    <div class="show-description">
      <p class="med"><%= @work.description %></p>
    </div>

    <div class="show-media">
      <h3>IMAGE</h3>
    </div>

    <div class="show-meta">
      <p class="sml">
        11010101001011110010<br><br>
        <%= @work.client %><br>
        <%= @work.title %>
      </p>
    </div>

    <div class="show-nav">
      <%= link_to "BACK TO ALL WORKS", works_path, class: "btn btn--secondary" %>
    </div>

    <div class="show-buttons">
      <!-- boutons d'action -->
    </div>

    <div class="show-thumbnails">
      <!-- miniatures -->
    </div>
  </div>
</div>
