<div class="work-wrapper">

  <div class="work-intro">
    <div class="works-blur">
      <div class="corner-symbol top-left"><p class="med">+</p></div>
      <div class="corner-symbol top-right"><p class="med">+</p></div>
      <div class="corner-symbol bottom-left"><p class="med">+</p></div>
      <div class="corner-symbol bottom-right"><p class="med">+</p></div>
      <div class="works-sharp">
        <h3 class="work-carousel-title">WORKS 001</h3>
        <p class="work-carousel-client sml">
          11010101001011110010<br><br>CLIENT 20233554448<br>5558 5848 54
        </p>
      </div>
    </div>

  </div>

  <ul class="work-list">
    <% @works.each do |work| %>
      <li class="work-list-item">
        <%= link_to work_path(work.slug) do %>
          <div class="work-case">
            <div class="work-reference">
              <div class="work-name">
                <h3>WORKS <%=work.number%></h3>
              </div>
              <div class="work-client">
                <p class="sml">11010101001011110010<br><br><%=work.client%><br><%=work.title%></p>
              </div>
            </div>
            <div class="work-description">
              <p class="sml"><%=work.description%></p>
            </div>
            <div class="work-image">
              <div class="corner-symbol top-left"><p class="med">+</p></div>
              <div class="corner-symbol top-right"><p class="med">+</p></div>
              <div class="corner-symbol bottom-left"><p class="med">+</p></div>
              <div class="corner-symbol bottom-right"><p class="med">+</p></div>
              <h4>IMAGE</h4>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
