<div>
  <div class="work-container">
    <div id="works-blur">
      <div class="corner-symbol top-left">
        <p>+</p>
      </div>
      <div class="corner-symbol top-right">
        <p>+</p>
      </div>
      <div class="corner-symbol bottom-left">
        <p>+</p>
      </div>
      <div class="corner-symbol bottom-right">
        <p>+</p>
      </div>
      <div id="works-sharp">
        <h4 id="work-name-carousel">WORKS 001</h4>
        <p id="work-client-carousel" class="sml">
          11010101001011110010<br><br>CLIENT 20233554448<br>5558 5848 54
        </p>
      </div>
    </div>
  </div>
  <ul>
    <% @works.each do |work| %>
      <li>
        <%= link_to work_path(work.slug) do %>
          <div class="work-case">
            <div class="work-reference">
              <div class="work-name">
                <h2>WORKS <%=work.number%></h2>
              </div>
              <div class="work-client">
                <p class="sml">11010101001011110010<br><br><%=work.client%><br><%=work.title%></p>
              </div>
            </div>
            <div class="work-description">
              <p class="med"><%=work.description%></p>
            </div>
            <div class="work-image">
              <div class="corner-symbol top-left">
                <p class="med">+</p>
              </div>
              <div class="corner-symbol top-right">
                <p class="med">+</p>
              </div>
              <div class="corner-symbol bottom-left">
                <p class="med">+</p>
              </div>
              <div class="corner-symbol bottom-right">
                <p class="med">+</p>
              </div>
              <h4>IMAGE</h4>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
