<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio2025</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="header">
      <div id="navbar">
        <%= link_to "BIO", root_path, id: "navbar-button"%>
        <%= link_to "WORKS", works_path, id: "navbar-button"%>
        <%= link_to "REACH ME", contact_path, id: "navbar-button"%>
      </div>
    </div>

    <%= yield %>

    <div id="main-footer">
      <div id="skills-banner">
        <div class="skills-item"><h3>//   GRAPHIC DESIGN</h3></div>
        <div class="skills-item"><h3>//   WEB DEV</h3></div>
        <div class="skills-item"><h3>//   PRINT</h3></div>
        <div class="skills-item"><h3>//   ILLUSTRATION</h3></div>
        <div class="skills-item"><h3>//   FRONT-END DEV</h3></div>
        <div class="skills-item"><h3>//   GRAPHIC DESIGN</h3></div>
      </div>
      <div id="back-top">
        <p class="med-bold">BACK ON TOP</p>
      </div>
      <div id="sub-footer">
        <div id="year">
          <p class="sml">2025</p>
        </div>
          <div id="contact-footer">
            <div id="mail-footer">
              <h5>contact.heynen@gmail.com</h5>
            </div>
            <div id="social-footer">
              <div id="social-footer-button">
                <%= link_to "LINKEDIN", "https://www.linkedin.com/in/mathieu-heynen/" %>
                <%= link_to "BEHANCE", "https://www.behance.net/mathieuheynen" %>
                <%= link_to "GITHUB", "https://github.com/MathieuHeynen" %>
                <%= link_to "DRIBBBLE", "https://dribbble.com/easur" %>
              </div>
            </div>
          </div>
        <div id="author">
          <p class="sml">©MATHIEU HEYNEN</p>
        </div>
      </div>
    </div>
  </body>
</html>
