<!DOCTYPE html>
<html>
  <head>
    <title>Mathieu Heynen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# ------------------------ %>
    <%# BELY DISPLAY FONT IMPORT %>
    <%# ------------------------ %>
    <%# <link rel="stylesheet" href="https://use.typekit.net/rdd5fuj.css"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="header" class="header">
      <div class="header-container">
        <%= link_to root_path do %>
          <div class="logo-header">
            <%= image_tag "mascotte.png", alt: "HEY!" %>
            <h5 class="logo-text">MATHIEU HEYNEN</h5>
          </div>
        <% end %>
        <div class="navbar">
          <div class="highlight"></div>
          <%= link_to "BIO", root_path, class: "navbar-button #{'active' if current_page?(root_path)}", data: { turbo: false } %>
          <%= link_to "WORKS", works_path, class: "navbar-button #{'active' if current_page?(works_path)}", data: { turbo: false } %>
          <%= link_to "REACH ME", contact_path, class: "navbar-button #{'active' if current_page?(contact_path)}", data: { turbo: false } %>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="footer-container">

      <div class="skills-banner">
        <div class="skills-track">
          <% skills = ["//   GRAPHIC DESIGN","//   WEB DEV","//   PRINT","//   ILLUSTRATION","//   FRONT-END DEV","//   VISUAL IDENTITY","//   TYPOGRAPHY","//   LOGO","//   GAMER"]%>
          <% skills.each do |skill|%>
            <div class="skills-item"><h4><%=skill%></h4></div>
          <%end%>
        </div>
      </div>

      <div class="back-to-top">
        <a href="#header" id="btn-back-top" class="med-bold">BACK ON TOP</a>
      </div>
      <div class="sub-footer">
        <div class="year">
          <p class="sml">2025</p>
        </div>
          <div class="contact-footer">
            <div class="mail-footer">
              <h5>contact.heynen@gmail.com</h5>
            </div>
            <div class="social-footer">
              <div class="social-links">
                <%= link_to "LINKEDIN", "https://www.linkedin.com/in/mathieu-heynen/" %>
                <%= link_to "BEHANCE", "https://www.behance.net/mathieuheynen" %>
                <%= link_to "GITHUB", "https://github.com/MathieuHeynen" %>
                <%= link_to "DRIBBBLE", "https://dribbble.com/easur" %>
              </div>
            </div>
          </div>
        <div class="author">
          <p class="sml">©MATHIEU HEYNEN</p>
        </div>
      </div>
    </div>
  </body>
</html>
